@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

.main-section > header {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 20px 0px;
}
